 #div2 {
    float: left;
    width:auto;
    height: 220px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-size: cover;


    }
    #div1 {
        float: left;
        width: 25%;
        height: 180px;
        margin: 100px;
        padding: 10px;
        border: 1px solid rgb(255, 255, 255);
    }
    body{
        background-color: rgb(239, 239, 155);
        text-align: center;
    }
    h2{
        color:white;
    }
    p{
        color: white;
    }